.map-grid{
  grid-template-columns: auto auto auto auto auto;
  display: inline-grid;
  width: 400px;
  height: 400px;
  background-color: #333;
  border: 3px solid black;
}

.map-container{
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  width: 400px;
}

h3{
  font-size: 1.5em;
  line-height: 1em;
  margin: 20px 0 0 0 ;
  padding: 0;
}

.griditem{
  border: 1px solid #444;
}

.active-cell{
  background-color: green;
}

.door-l{
  border-left: none;
  border-right: none;
  border-bottom: none;
  border-top: none;
}
.door-r{
  border-left: none;
  border-right: none;
  border-bottom: none;
  border-top: none;
}
.door-t{
  border-left: none;
  border-right: none;
  border-bottom: none;
  border-top: none;
}
.door-b{
  border-left: none;
  border-right: none;
  border-bottom: none;
  border-top: none;
}
