.monster-1{
    background-image: url(/images/monsters/monster-1.gif);
}
.monster-2{
    background-image: url(/images/monsters/monster-2.gif);
}
.monster-3{
    background-image: url(/images/monsters/monster-3.gif);
}
.monster-4{
    background-image: url(/images/monsters/monster-4.gif);
}
.monster-5{
    background-image: url(/images/monsters/monster-5.gif);
}
.monster-6{
    background-image: url(/images/monsters/monster-6.gif);
}
.monster-7{
    background-image: url(/images/monsters/monster-7.gif);
}
.monster-8{
    background-image: url(/images/monsters/monster-8.gif);
}