html, body{
  color: white;
  font-family: 'Arial', 'Helvetica', sans-serif;
  margin: 0;
}

body{
  background-color: #333;
  background-image: url(/images/tiles/stone.jpg);
  background-repeat: repeat;
}

header{
  background-image: url(/images/sad2.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 800px;
  height: 100px;
  margin: 50px auto;
}

article{
  width: 1200px;
  margin: 50px auto;
  padding: 50px;
  background-image: url(/images/background2.jpg);
  background-color: #222;
  background-size: cover;
    border-radius: 5px;
  display: flex;
  -webkit-box-shadow: 10px 10px 25px -10px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 25px -10px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 25px -10px rgba(0,0,0,0.75);
}

.card{
  margin: 20px;
  width: 300px;
  height: 500px;
  background-color: RGBA(22,22,22,0.8);
  border-radius: 10px;
  text-align: center;
}

#main{
  width: 500px;
  height: 500px;
}



#shop-screen{
  width: 500px;
  height: 500px;
}

.shop-actions{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 20px auto;
    vertical-align: middle;
}

#battle-screen{
  width: 500px;
  height: 500px;
}

.battle-actions{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 50px auto;
    vertical-align: middle;
}

.log{
    display: block;
    padding: 5px;
    margin: 0;
    align-content: center;
    text-align: center;
    background-color: RGBA(0,0,0,.8);
    outline: 1px white;
    height: 100px;
    vertical-align: middle;
    overflow-y: scroll;
    box-sizing: content-box;
    padding-right: 17px;
}


button {
    width: 350px;
    display: inline-block;
    border: none;
    padding: 1rem 2rem;
    margin: 10px 0;
    text-decoration: none;
    background: #444;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out,
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

button:hover,
button:focus {
    background: #139532;
}
button:active {
    transform: scale(0.99);
}



.icon{
  width: 80px;
  height: 80px;
  display: block;
  background-color: white;
  margin: 20px auto;
  border-radius: 10px;
}

#player-icon{
  background-image: url(/images/icon.gif);
  background-size: cover;
}

#monster-icon{
  background-image: url(/images/monsters/harpy.gif);
  background-size: cover;
}



.statbox{
  text-align: center;
  width: 250px;
  height: 350px;
  display: block;
  background-color: #222;
  margin: 20px auto;
  border-radius: 10px;
}

ul{
  list-style-type: none;
  line-height: 2em;
  padding: 20px;
}

h1{
    margin: 5px;
}

h2{
  color: red;
  font-size: 1em;
  line-height: 1.2em;
  margin: 0;
  padding 0;
  font-weight: bold;
  background-color: #333;
  border-radius: 5px;
}

h3{
  color: black;
}

.right-container-fight{
}

.right-container-map{
  margin: 120px 0;
}

.hidden{
  display: none;
}

.been-here{
  background-color: black;
}

.chest{
  background-image: url(/images/chest.jpg);
  background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
}
