html, body{
  background-color: #333;
  background-image: url(/images/tiles/stone.jpg);
  background-repeat: repeat;
  color: white;
  font-family: 'Arial', 'Helvetica', sans-serif;
  margin: 0;
}

header{
  background-image: url(/images/title.png);
  background-repeat: no-repeat;
  width: 800px;
  height: 100px;
  margin: 50px auto;
}

article{
  width: 1200px;
  margin: 50px auto;
  background-color: #222;
  display: flex;
}

.card{
  margin: 20px;
  width: 300px;
  height: 500px;
  background-color: #444;
  border-radius: 10px;
  text-align: center;
}

#main{
  width: 500px;
  height: 500px;
}

.icon{
  width: 80px;
  height: 80px;
  display: block;
  background-color: white;
  margin: 20px auto;
  border-radius: 10px;
}

#player-icon{
  background-image: url(/images/icon.gif);
  background-size: cover;
}

#monster-icon{
  background-image: url(/images/monsters/harpy.gif);
  background-size: cover;
}



.statbox{
  text-align: center;
  width: 250px;
  height: 350px;
  display: block;
  background-color: #222;
  margin: 20px auto;
  border-radius: 10px;
}

ul{
  list-style-type: none;
  line-height: 2.2em;
  padding: 20px;
}

h2{
  color: red;
  font-size: 1em;
  line-height: 1.2em;
  margin: 0;
  padding 0;
  font-weight: bold;
  background-color: #333;
  border-radius: 5px;
}

.right-container-fight{
}

.right-container-map{
  margin: 50px 0;
}

.hidden{
  display: none;
}
